<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>216885512861-3mtaduapembk9lof9k2ht84ukjf750jq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216885512861-3mtaduapembk9lof9k2ht84ukjf750jq</string>
	<key>API_KEY</key>
	<string>AIzaSyDL_eZV1s3o0DwKfSdru2x8kJQkoY1yAvY</string>
	<key>GCM_SENDER_ID</key>
	<string>216885512861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naqsh.app</string>
	<key>PROJECT_ID</key>
	<string>nashr-2931d</string>
	<key>STORAGE_BUCKET</key>
	<string>nashr-2931d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:216885512861:ios:7e1586822b64bdd6</string>
	<key>DATABASE_URL</key>
	<string>https://nashr-2931d.firebaseio.com</string>
</dict>
</plist>